
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.name %></h1>
    <p>
      Data from <%= filename %> is uploaded successfully.<br>
    </p>
    <p>Have a great day!</p>
  </body>
