<table class="table table-striped table-bordered">
<tr scope="row"> 
	<td>zip</td>
	<td>County Name</td>
	<td>City</td>
	<td>State</td>
</tr>
<% @counties.each do |county| %>
<tr scope="row">
	<td><%= county[0] %></td>
	<td><%= county[1] %></td>
	<td><%= county[2] %></td>
	<td><%= county[3] %></td>
</tr>
<% end %>
</table>