<h3>Please Enter the state name to get the counties.</h3>
<td><div id="custom-templates">
  <input class="typeahead" type="text" placeholder="Select State" >
</div></td>
<br/>
<br/>
<div id="counties_grid">
</div>